@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <button class="btn btn-link text-decoration-none dropdown-toggle"
                    type="button"
                    id="userProfileDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="bi bi-person-circle"></i>
                @context.User.Identity?.Name
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userProfileDropdown">
                <li><a class="dropdown-item" href="/settings/profile">
                    <i class="bi bi-person"></i> Profile
                </a></li>
                <li><a class="dropdown-item" href="/settings/integrations">
                    <i class="bi bi-gear"></i> Settings
                </a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <button class="dropdown-item" @onclick="Logout">
                        <i class="bi bi-box-arrow-right"></i> Logout
                    </button>
                </li>
            </ul>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="/auth/login" class="btn btn-primary">
            <i class="bi bi-box-arrow-in-right"></i> Sign In
        </a>
    </NotAuthorized>
</AuthorizeView>
