.reviewer-avatar.avatar-sm {
    width: 32px;
    height: 32px;
    font-size: 0.75rem;
}

.reviewer-avatar.avatar-md {
    width: 48px;
    height: 48px;
    font-size: 1rem;
}

.reviewer-avatar.avatar-lg {
    width: 64px;
    height: 64px;
    font-size: 1.25rem;
}
